html,
body {
    height: 100%;
    margin: 0;
    /*余白をなくす*/
    padding: 0;
    /*余白をなくす*/
}

#backgroundDiv {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#omikuji {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.buttons,
.resultDiv {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #E0E2DB;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    z-index: 1;
}

.button:hover {
    background-color: aliceblue;
}